@font-face {
    font-family: "Tagettes";
    src: url("./polices/tagettes.regular.ttf") format(truetype);
}

* {
    margin: 0;
}

h1 {
    font-family: "Tagettes";
    position: absolute;
    left: 50%;
    top: 8%;
    transform: translateX(-50%);
}

p {
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    width: 100vw;
    text-align: center;
}
