* {
    margin: 0;
}

body {
    text-align: center;
}

.voiture {

}

.voiture1 {
    background-image: url(/media/voiture1.png);
}

.voiture2 {
    background-image: url(/media/voiture2.png);
}

#container {
    background-image: url(/media/circuit.png);
    margin: 0 auto;
}
