@font-face {
    font-family: "Race Sport";
    src: url(/fonts/race-sport-font/RaceSport-BWPLV.ttf) format(truetype);
}

* {
    margin: 0;
}

body {
    text-align: center;
}

h1 {
    position: relative;
    font-family: "Race Sport";
}

h1::after {
    content: " ";
    display: inline-block;
    background-image: url(/media/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 4em;
    height: 2em;
    position: absolute;
    top: 0;
}

#container {
    background-image: url(/media/circuit.png);
    display: block;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
    width: 1200px;
    height: 400px;
    transform: translate(0, 25vh);
}

.voiture { /* class commun ne marche pas rn*/
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 30px;
}

.voiture1 {
    background-image: url(/media/voiture1.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 60px;
    top: 50px;
    left: 5px;
}

.voiture2 {
    background-image: url(/media/voiture2.png);
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 60px;
    bottom: 90px;
    left: 5px;
}
