@font-face {
    font-family: "Race Sport";
    src: url(/fonts/race-sport-font/RaceSport-BWPLV.ttf) format(truetype);
}

* {
    margin: 0;
}

body {
    text-align: center;
}

h1 {
    position: relative;
    font-family: "Race Sport";
    margin-top: 3%;
    font-size: 3.5em;
    text-shadow: 2px 2px 0 red;
}

h1::after {
    content: " ";
    display: inline-block;
    background-image: url(/media/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 5em;
    height: 3em;
    position: absolute;
    top: -35px;
    margin-left: -30px;
}

button {
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    box-shadow: 2px 2px 0 red;
    margin-top: 2%;
}

button:hover {
    cursor: pointer;
}

#container {
    background-image: url(/media/circuit.png);
    display: block;
    margin: 0 auto;
    position: relative;
    background-repeat: no-repeat;
    width: 1200px;
    height: 360px;
    transform: translate(0, 25vh);
    border-style: solid;
    border-color: black;
    overflow: hidden;
}

.voiture {
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 60px;
}

#voiture1 {
    background-image: url(/media/voiture1.png);
    top: 60px;
    left: 5px;
    transition: translate 1s;
}

#voiture2 {
    background-image: url(/media/voiture2.png);
    bottom: 50px;
    left: 5px;
    transition: translate 1s;
}

#decompte {
  background-color: black;
  border-style: solid;
  padding: 30px;
  width: 20px;
  border-radius: 50%;
  box-shadow: 3px 3px red;
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 1% auto 0 auto;
  vertical-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

#chronometre1{
   position: absolute;
   top: 35%;
   left: 50%;
   transform: translateX(-50%);
    background-color: black;
    border-style: solid;
    width: 190px;
    box-shadow: 3px 3px red;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 1% auto 0 auto;
    vertical-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 500; 
}

#chronometre2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    border-style: solid;
    width: 190px;
    box-shadow: 3px 3px blue;
    color: white;
    font-size: 20px;
    text-align: center;
    margin: 1% auto 0 auto;
    vertical-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    font-weight: 500; 
}

.foot {
    font-family: 'Courier New', Courier, monospace;
    position: fixed;
    bottom: 0;
    background-color: rgb(0, 0, 0, 0.8);
    color: white;
    width: 100vw;
  }
